<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Facematic  Wizards"
            id="com.slipchansky.facematic">
      </category>
      <wizard
            name="Facematic Markup"
            icon="icons/sample.gif"
            category="com.slipchansky.facematic"
            class="com.slipchansky.facematic.wizards.FacematicNewWizard"
            id="com.slipchansky.facematic.wizards.FacematicNewWizard">
      </wizard>
   </extension>

</plugin>
