<?xml version="1.0" encoding="UTF-8"?>

<content xmlns="http://facematic.org/fm" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://facematic.org/fm http://facematic.org/schema/facematic.xsd"
    controller="${editFormQualifiedName}" >

    <vl width="300">
        <FormLayout name="form" width="100%">

${editorViewFields}
        </FormLayout>

        <hl alignment="BOTTOM_RIGHT">
		<Button name="buttonSave" caption="Save" width="100" onClick="save" />
		<Button name="buttonDelete" caption="Delete" width="100" onClick="delete" />
		</hl>
    </vl>

</content>