<?xml version="1.0" encoding="UTF-8"?>

<content xmlns="http://facematic.org/fm" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://facematic.org/fm http://facematic.org/schema/facematic.xsd"
	controller="${controllerQualifiedName}"
	sizeFull="true">

	<TabSheet name="tsOverlay" sizeFull="true" margin="false">
		<vl name="vlTable" caption="Browse" margin="false" sizeFull="true">
			<Table name="table" sizeFull="true" expandRatio="100" nullSelectionAllowed="false" >
				<columns>

${browserViewColumns}
				</columns>
			</Table>
		</vl>

		<vl caption="Modify" margin="true">
			<composite 
			    controller="${editFormQualifiedName}"
				name="editForm" location="RESOURCE"
				path="${editViewQualifiedName}" />
		</vl>
		
		<vl caption="Create" margin="true">
			<composite 
			    controller="${createFormQualifiedName}"
				name="createForm" location="RESOURCE"
				path="${editViewQualifiedName}" />
		</vl>
		

	</TabSheet>


</content>
