package ${controllerPackage};

${GENERATED_CODE_BEGIN}
import com.vaadin.ui.Component;
import com.vaadin.ui.UI;
import org.facematic.core.annotations.FmUI;
import org.facematic.core.annotations.FmView;
import org.facematic.core.annotations.FmViewComponent;
import org.facematic.core.mvc.FmBaseController;


@FmView(name="${viewPackage}.$view")
public class ${controller} implements FmBaseController {
	
${GENERATED_CODE_END}
	
	@FmUI
	UI ui;
	
	
	
	@Override
	public void init () {
	   // TODO add your code here
	}
	
}

