package ${controllerPackage};

import javax.inject.Inject;
import org.facematic.core.annotations.FmUI;
import org.facematic.core.annotations.FmView;
import org.facematic.core.annotations.FmReaction;
import org.facematic.core.annotations.FmViewComponent;
import org.facematic.core.mvc.FmBaseController;
import org.facematic.core.ui.FacematicUI;
import com.vaadin.ui.Component;


@FmView(name="${viewPackage}.$view")
public class ${controller} implements FmBaseController {

    @Inject	
    @FmUI
    FacematicUI ui;
	
	
	
	@Override
	public void init () {
	   // TODO add your code here
	}
	
}

